

<!DOCTYPE html>
 
<html>
<head>
    
    <title>Pirate Attacks</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="screen.css" />

</head>

    
    
<body>
    
     <div id="pirateship">
        <img src="pirate.png" width="140px">
    </div>
    
 <div id="header">

        
        <h1>Map of Pirate Attacks</h1>
        <div id="years"> 
            2019-2022
        </div>
        <h2><!--adds a perfect space--></h2> 
        
        <div id="descr">   
                A visual map of recent pirate attacks around the world.
                </div>
        
             
            <a href="index.html">
                <svg width="120" height="60">
                    <g>
                    <rect x="2" y="2" width="110" height="50" rx="15" fill="yellow" class="buttons" />
                    <text x="42" y="33" font-family="papyrus" font-size="20" fill="#200"> All </text>
                    </g>
                </svg>
               
            </a>  
            <a href="boarded.html">
                 <svg width="120" height="60">
                    <g>
                    <rect x="2" y="2" width="110" height="50" rx="15" fill="orange" class="buttons" />
                    <text x="17" y="33" font-family="papyrus" font-size="20" fill="#200"> Boarded </text>
                    </g>
                </svg>
            </a>  
            <a href="firedat.html">
                <svg width="120" height="60">
                    <g>
                    <rect x="2" y="2" width="110" height="50" rx="15" fill="#00a8f3" class="buttons" />
                    <text x="23" y="33" font-family="papyrus" font-size="20" fill="#200"> Fired at </text>
                    </g>
                </svg>
            </a> 
            <a href="hijacked.html">
                <svg width="120" height="60">
                    <g>
                    <rect x="2" y="2" width="110" height="50" rx="15" fill="hotpink" class="buttons" />
                    <text x="19" y="33" font-family="papyrus" font-size="20" fill="#200"> Hijacked </text>
                    </g>
                </svg>
            </a> 
            <a href="suspicious.html">
                <svg width="120" height="60">
                    <g>
                    <rect x="2" y="2" width="110" height="50" rx="15" fill="mediumpurple" class="buttons" />
                    <text x="10" y="33" font-family="papyrus" font-size="20" fill="#200"> Suspicious </text>
                    </g>
                </svg>
            </a> 
    </div>
    
   
    
    
    <div class="TheMap">
      
       
    
      
        <svg width="2000" height="1100">
            <g>
            
            <!--yellow-->
            <ellipse cx="575" cy="730" rx="15" ry="15" id="boarded"  class="stroked" fill="yellow" />
            <ellipse cx="560" cy="750" rx="15" ry="15" id="boarded"  class="stroked" fill="yellow" />
            <ellipse cx="1170" cy="680" rx="15" ry="15" id="FiredAt"  class="stroked" fill="yellow" />
            <ellipse cx="1210" cy="695" rx="15" ry="15" id="FiredAt"  class="stroked" fill="yellow" />
            <ellipse cx="910" cy="580" rx="15" ry="15" id="FiredAt"  class="stroked" fill="yellow" />
            </g>
            
        </svg>     
      </div>

    
</body>
</html>
