

<!--{% extends "base.html" %}

{% block title %}Sunken Ships{% endblock %}

{% block content %}-->

<!DOCTYPE html>
 
<html>
<head>
    
    <title>Sunken Ships</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="screen.css" />

</head>

    
    
    
<body>
    
    <div id="header">

          <img src="{{ url_for('static', filename='shroom_logo9.png') }}" id="logo" />
          <h1>Ship Chart</h1>
          <em>Toadstools &bull; Fungus &bull; Mushrooms</em>


        </div>

        <div id="backdrop1">

            <em>Interactive Map</em>
            <h2>Sunken Ships</h2>


          <p>
            <a class="btn-green" href="{{ url_for('myshroom') }}">Generate Now</a>
          </p> 


        </div>

       <!-- <div class="footer">
            <div class="container-fluid">
                <p>SHROOM.INC </p>
           </div> 
        </div> 
    {% endblock %}-->
    </body>
    </html>
