




#header {
  border-bottom: maroon 5px solid; 
  text-align: center; 
}

body {
    background-color: antiquewhite;
    /*background-image: url("map.png");*/
    color: black;
    font-family: 'papyrus', sans-serif;
    margin: 0;  
}

h1 {
    color: maroon;
    margin: 0;
    font-size: 40px;
      
}

h2 {
    color: #18dad6;
    font-family: 'papyrus', cursive;
    text-align: center;
    font-size: 40px;
      
}

a {
      color: #000;
      text-decoration: none;
}


html, body{
    padding: 20px; 
  
}

.TheMap{
      position: relative;
      top: 10px;
      border: 8px solid maroon; 
      background-image: url("map.png"); 
      background-repeat: no-repeat; 
      background-size: cover; 
      height: 1125px;
      width: 1795px;
  

}

svg {
    position: relative;    
    /*outline: 1px dashed #500;*/
      }


svg .buttons {
        stroke: #200;
        stroke-width: 3;
    
      }



svg .stroked {
        stroke: #200;
        stroke-width: 2.5;
        transform: translate(-130px, -90px); /*am not rewriting those points*/
      }

#descr {
    font-size: 22px;
    font-family: 'papyrus';
     
    
}

#pirateship {
    position: absolute;
    padding-left: 70%;
    top: 30px;
}

#header, #years {
    font-size: 20px;
}



/*https://zenodo.org/record/4583802#.Y0ytauxBwUE    https://openhumanitiesdata.metajnl.com/articles/10.5334/johd.39/
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bad+Script&display=swap" rel="stylesheet">
*/